<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="${@environment.getProperty('app.kakaoMap.url')}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/matzip/gu-detail-map.css}">
    <script th:inline="javascript">
        const data = /*[[${data}]]*/ {},
            hiddenImgUrl = /*[[@{/IMG/matzip/hidden_matzip.png}]]*/ 'hiddenImg',
            emptyHeartImgUrl = /*[[@{/IMG/matzip/empty_heart.png}]]*/ 'emptyHeart',
            fillHeartImgUrl = /*[[@{/IMG/matzip/fill_heart.png}]]*/ 'fillHeart'
        ;
    </script>
</head>
<body>
<img id="test">
<div id="map"></div>
<div id="menu_wrap">
    <div id="friend_list">
        <button id="left" class="friend_btn">
            <img class="friend_btn_img" th:src="@{/IMG/matzip/friend-btn-left.png}">
        </button>
        <div class="friend_card" th:each="friend : ${data.getFriendList()}">
            <img class="profile_img" th:src="'@{/IMG/profile/}' + ${friend.getProfileImg()}">
        </div>
        <button id="right" class="friend_btn">
            <img class="friend_btn_img" th:src="@{/IMG/matzip/friend-btn-right.png}">
        </button>
    </div>
    <div class="matzip_container">
        <div id="matzip_wrap">
        </div>
        <button id="add_btn"> + 맛집 리스트 추가하기</button>
    </div>
</div>
<div id="detail-info">
    <img id="matzip_img" src="#">
    <span id="matzip_name">가게 이름</span>
    <span id="matzip_address">주소</span>
    <div id="star_rating"></div>
    <div id="tags_wrap"></div>
    <button id="write_review_btn">리뷰작성</button>
</div>
</body>
<script type="text/javascript" th:src="@{/JS/matzip/gu-detail-map.js}" th:inline="javascript"></script>
</html>