<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            th:src="${@environment.getProperty('app.kakaoMap.url')}"
    ></script>
</head>
<body>
<h1>확인</h1>
<div id="map" style="width:500px;height:400px;"></div>
</body>
<script th:inline="javascript">
    const data = [[${data}]];
    const centerLatLng = data.centerLatLng;
    const mapContainer = document.getElementById("map");
    const mapOption = {
            center: new kakao.maps.LatLng(centerLatLng.lat, centerLatLng.lng),
            level: 3
        };

    const map = new kakao.maps.Map(mapContainer, mapOption);
</script>
</html>