<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79c730033c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" th:href="@{/CSS/matzip/reviewList.css}">
    <script th:inline="javascript">
        const profile = /*[[${profileImg}]]*/ {};
    </script>
    <script th:src="@{/JS/matzip/reviewList.js}"></script>
    <title>리뷰관리페이지</title>
</head>
<body>
    <th:block th:insert="~{common/header::header}"></th:block>
    <main class="main-container" th:data-member-id="${memberId}">
    <section class="profile-section">
        <div class="card">
            <div class="icon-circle">
                <div class="inner-circle">
                    <div class="friend-profile">
                    </div>
                </div>
            </div>
            <h1 class="title">나의 리뷰 관리</h1>
            <p class="subtitle">내가 리뷰를 쓴 곳 입니다.</p>
        </div>
    </section>

    <section class="review-list-section">
        <div class="review-filter">
            <span>정렬방식:</span>
            <span class="sort-option active" data-sort="date">등록순</span>|
            <span class="sort-option" data-sort="name">가나다</span>|
            <span class="sort-option" data-sort="rating">평점순</span>
        </div>
        <div class="reviews-container">
        </div>
    </section>
    </main>
</body>
</html>