<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/matzip/review.css}">
    <script th:src="@{/JS/matzip/review.js}"></script>
    <title>Review</title>
</head>
<body>
    <form>
        <section class="star-rating">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </section>
        <section class="select-foodKind">
            <input type="button" value="한식">
            <input type="button" value="양식">
            <input type="button" value="일식">
            <input type="button" value="중식">
            <input type="button" value="디저트">
            <input type="button" value="그외">
        </section>
        <section>
            <div class="tag-box">
            </div>
        </section>
    </form>
</body>
</html>