<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/79c730033c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" th:href="@{/CSS/matzip/wish-list.css}">
    <title>위시리스트</title>
</head>
<html>

</head>
<body>

<div class="container">
    <th:block th:insert="~{common/header::header}"></th:block>
    <div class="main-container">
    <section class="profile-section">
        <img src="/IMG/reviewManagement.png" alt="리뷰 관리">
    </section>
    <section id="wish-list-section">
    <div class="wish-card">
    <ul  >
        <li  class="wish-container" th:each="item : ${wishList}">
            <div id="wish-con">

                <section class="left-info">
            <img   th:src="${item.imgUrl}" alt="맛집 이미지">
                </section>
                <section class="right-info">
            <div  >
            <h3  id="store-title" th:text="${item.name}">맛집 이름</h3>
            <button th:onclick="'deleteWishlist(' + ${item.id} + ', ' + ${memberId} + ');'" class="delete-btn">
                <i class="fas fa-trash" aria-hidden="true"></i>
                <span>삭제</span>
            </button>

            </div>
                </section>
    </div>
        </li>
    </ul>
    </div>

    </section>
    </div>
</div>

<script>
    async function deleteWishlist(matzipId, memberId) {
        const button = event.target;

        const response = await fetch(`/matzips/wish-list/${memberId}/${matzipId}`, {
            method: 'DELETE'
        });

        const data = await response.json();
        alert("위시리스트에서 삭제되었습니다.");

        // 페이지 새로 고침
        location.reload();
    }
</script>
</body>
</html>

