<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" th:href="@{/CSS/member/friend/friend_list.css}" type="text/css"/>
</head>

<body>
<th:block th:insert="~{common/header::header}"></th:block>

<div class="friend-container">
    <!-- 상단 친밀도 순위 영역 -->
    <div class="intimacy-ranking">
        <img src="/IMG/banner.png" class="banner">
        <div class="ranking-title">
            <span style="margin-bottom: 10px">나의 친구</span>
            <span style="font-size: 2em">친밀도</span>
            <span style="font-size: 2em">순위</span>
        </div>
        <div class="ranking-sections">
            <!-- 1위 -->
            <div class="ranking-section first">
                <img class="ranking-bg" src="/IMG/1.png" alt="1st Background">
<!--                <div class="ranking-profile rank-1">-->
<!--                    <img class="friend-profile-small"></img>-->
<!--                    <div class="friend-nickname"></div>-->
<!--                </div>-->
            </div>
            <!-- 2위 -->
            <div class="ranking-section second">
                <img class="ranking-bg" src="/IMG/2.png" alt="2nd Background">
<!--                <div class="ranking-profile rank-2">-->
<!--                    <img class="friend-profile-small"></img>-->
<!--                    <div class="friend-nickname"></div>-->
<!--                </div>-->
            </div>
            <!-- 3위 -->
            <div class="ranking-section third">
                <img class="ranking-bg" src="/IMG/3.png" alt="3rd Background">
<!--                <div class="ranking-profile rank-3">-->
<!--                    <img class="friend-profile-small"></img>-->
<!--                    <div class="friend-nickname"></div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    </div>


    <div class="friend-header" style="margin : 20px">
        <img class="icon" src="/IMG/friend-icon.png" alt="friend-icon">
        <span class="subtitle">친구 목록</span>
        <span class="sort-buttons">
            <span class="btn-title">정렬방식 :</span>
            <span class="btn btn-sort" data-sort="registration">등록순</span>
            <span> | </span>
            <span class="btn btn-sort" data-sort="alphabet">가나다순</span>
            <span> | </span>
            <span class="btn btn-sort" data-sort="intimacy">친밀도순</span>
        </span>
        <span class="friend-actions">
            <img class="icon" src="/IMG/send-friend.png" alt="add">
            <span class="btn btn-add">친구 추가</span>
            <span class="btn-add">|</span>
            <img class="icon" src="/IMG/bell.png" alt="request">
            <span class="btn btn-request">친구 요청</span>
        </span>
    </div>

    <div id="friends-container"></div>



<!-- 모달 HTML -->
<div id="friendRequestModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>친구 요청</h2>
        <div id="pendingRequests"></div>
    </div>
</div>

<div id="addFriendModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>친구 추가</h2>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="닉네임 또는 아이디를 입력하세요">
            <button id="searchButton">검색</button>
        </div>
        <div id="searchResults"></div>
    </div>
</div>

<script th:inline="javascript">
    const memberId = /*[[${memberId}]]*/ null;
</script>

<script th:src="@{/JS/member/list.js}"></script>

<!--<script th:src="@{/JS/member/mypage.js}"></script>-->
</body>
</html>