<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 목록</title>
</head>
<body>
<div class="friend-container">
    <div class="friend-header">
        <h1>친구 목록</h1>
    </div>

    <div id="friends-container"></div>
</div>

<script th:inline="javascript">
    const memberId = /*[[${memberId}]]*/ null;
</script>

<script th:src="@{/JS/member/list.js}"></script>

<!--<script th:src="@{/JS/member/mypage.js}"></script>-->
</body>
</html>