:root {
    --primary-color: #ff7327;
    --button-font-color: #ffffff;
    --secondary-button-border-color: #c8c9cc;
    --secondary-button-text-color: #303236;
    --link-color: #ff7327;
    --title-font-color: #ff7327;
    --font-default-color: #63656d;
    --widget-background-color: #ffffff;
    --box-border-color: #ffffff;
    --input-text-color: #121214;
    --input-border-color: #c8c9cc;
    --input-background-color: #ffffff;
    --error-color: #e81d01;
}

#map {
    width: 100vw;
    height: 90vh;
    z-index: 1;
}

#menu_wrap {
    position: absolute;
    top: 5%;
    left: 0;
    width: 23vw;
    height: 80%;
    z-index: 2;
    margin-left: 4%;
    margin-top: 8vh;
    flex-direction: column;
}

.bg_white {
    background: #fff;
}

#right {
    float: right;
    margin-left: 0;
}

#left {
    float: left;
}

.friend_btn {
    background: none;
    border: none;
}

.friend_btn_img {
    margin-top: 1vh;
    width: 6.2vh;
    height: 6.2vh;
}

.profile_img {
    width: 100%;
    height: 100%;
}

.friend_card {
    box-sizing: border-box;
    float: left;
    aspect-ratio: 1/1;
    height: 7.5vh;
    border-radius: 60px;
    border: 4px solid #FF7327;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

#friend_list {
    width: 97%;
    height: 8.4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around
}

#friend_card_list {
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.matzip_card {
    position: relative;
    aspect-ratio: 3.36/1;
    width: 95%;
    background-color: #EDEDED;
    border-radius: 15px;
    margin: 0 auto 10px;
    cursor: pointer;
}

.wish_heart {
    position: absolute;
    border: none;
    aspect-ratio: 1.23 / 1;
    width: 7.4%;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    bottom: 15%;
    right: 5.5%;
    z-index: 2;
}

.matzip_img {
    position: relative;
    display: block;
    float: left;
    aspect-ratio: 1/1;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3%;
    border-radius: 9px;
    object-fit: cover;
}

.matzip_name {
    margin-top: 2%;
    margin-left: 4%;
    float: left;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 18px;
}

#matzip_wrap {
    overflow-y: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    padding-top: 5px;
}

.matzip_container {
    padding: 7% 3% 5%;
    box-sizing: border-box;
    border-radius: 20px;
    border-left: 3px solid #E4E4E4;
    border-right: 3px solid #E4E4E4;
    border-top: 3px solid #E4E4E4;
    background-color: white;
    width: 100%;
    height: 89%;
}

.hidden_img {
    width: 100%;
    height: 100%;
}

#add_btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF7327;
    border-radius: 56px;
    width: 75%;
    height: 5vh;
    border: none;
    display: block;
    margin-top: 3%;
    bottom: 2%;
    font-family: "Noto Sans KR", serif;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.infowindow {
    position: relative;
    bottom: 62px;
    display: block;
    background: #50627F;
    color: #fff;
    text-align: center;
    height: 20px;
    line-height: 22px;
    border-radius: 4px;
    padding: 10px 10px;
}

#detail-info {
    background-color: white;
    position: absolute;
    top: 23%;
    left: 27.5%;
    z-index: 2;
    width: 25%;
    height: 44%;
    border-radius: 17px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.hidden {
    display: none;
}

#matzip_img {
    width: 600px;
    height: 200px;
}

.selected {
    outline: 3px solid #FF7327;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 255, 0, 0.5); /* 반투명한 검정색 */
    pointer-events: none; /* 오버레이가 클릭 이벤트를 무시하고 뒤의 요소에 영향을 주도록 설정 */
}

#hidden_detail {
    position: absolute;
    top: 23%;
    left: 27.5%;
    z-index: 2;
    width: 25%;
    height: 44%;
    border-radius: 17px;
    background-image: url('/IMG/matzip/hidden_detail.png');
    background-position: center;
    background-size: cover;
}

.close_btn {
    background-image: url("/IMG/matzip/close_btn.png");
    background-position: center;
    background-size: cover;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 5%;
    right: 4%;
    width: 18px;
    height: 18px;
}

.hidden_card {
    background-image: url("/IMG/matzip/hidden_matzip.png");
    background-position: center;
    background-size: cover;
}

#matzip_detail_img {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.star {
    aspect-ratio: 1/1;
    width: 7%;
}

#text_box {
}

#star_rating_list {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    position: absolute;
    bottom: 18.5%;
}

#content_container {
    height: 65%;
    padding: 2% 5%;
}

#kind_name {
    float: right;
}

#tags_wrap {
    position: absolute;
    bottom: 7%;
    display: flex;
    justify-content: flex-start;
}

.tag {
    background-color: #484848;
    border-radius: 16px;
    color: white;
    text-align: center;
    font-size: 12px;
    aspect-ratio: 3.5/1;
    align-items: center;
    height: 1.8em;
    margin-right: 5px;
    margin-bottom: auto;
    margin-top: auto;
    padding: 3px 0;
}

#write_review_btn {
    position: absolute;
    bottom: 6.5%;
    right: 5%;
    background-image: url("/IMG/matzip/review_btn.png");
    background-color: rgba(0, 0, 0, 0);
    aspect-ratio: 0.95/1;
    border: none;
    width: 15%;
    background-size: cover;
    background-position: center;
}

#star_rating_list span {
    color: #828282;
    margin: auto 5px;
}

#matzip_name {
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 24px;
}

#matzip_address {
    font-family: "Noto Sans KR", serif;
    font-size: 15px;
    color: #808080;
}

#kind_name {
    font-family: "Noto Sans KR", serif;
    font-size: 15px;
    color: #828282;
}

#search_window {
    width: 25vw;
    height: 80%;
    background-color: white;
    z-index: 2;
    position: absolute;
    right: 33%;
    top: 10%;
    border-radius: 20px;
}

#keyword {
    background-color: #D6D6D6;
    border-radius: 15px;
    width: 80%;
    height: 5vh;
    border: none;
    display: block;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    position: absolute;
    top: 8%;
    left: 7.5%;
    padding-left: 5%;
}

#close_search_btn {
    top: 3%;
}

#search_btn {
    background-position: center;
    background-size: cover;
    background-image: url("/IMG/matzip/search_btn.png");
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    aspect-ratio: 1/1;
    height: 3.5vh;
    top: 9%;
    right: 11%;
    cursor: pointer;
}

#search_select_btn {
    text-align: center;
    background-color: #FF7327;
    border-radius: 56px;
    width: 75%;
    height: 5vh;
    border: none;
    display: block;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 12.5%;
    cursor: pointer;
}

#result_list {
    width: 80%;
    height: 68%;
    overflow-y: scroll;
    position: relative;
    top: 17%;
    margin: 0 auto;
}

.search_card {
    aspect-ratio: 3.36/1;
    width: 90%;
    background-color: #EDEDED;
    border-radius: 15px;
    margin: 0 auto 10px;
    padding-top: 7%;
    padding-left: 6%;
}

.search_name {
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    font-size: 18px;
}

.search_address {
    font-family: "Noto Sans KR", serif;
    font-size: 14px;
    color: #808080;
}

#hidden_detail_text1 {
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

#hidden_detail_text2 {
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
}

#all_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 3;
}

#hint_tags {
    z-index: 4;
    outline: 3px solid #FF7327;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hint_tag {
    background-position: center;
    background-size: cover;
    width: 475px;
    height: 136px;
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
    transform-origin: 10.7% 26.1%;
    z-index: 4;
}

.hint_text {
    display: block;
    font-size: 40px;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 132px;
}

#hint_tag1 {
    background-image: url("/IMG/matzip/hint_btn1.png");
    transform-origin: 11.1% 26.1%;
    transform: rotate(80deg); /* -80도 회전 */
    z-index: 9;
}

#hint_tag2 {
    background-image: url("/IMG/matzip/hint_btn2.png");
    transform: rotate(50deg); /* -50도 회전 */
    z-index: 8;
}

#hint_tag3 {
    background-image: url("/IMG/matzip/hint_btn3.png");
    transform: rotate(20deg); /* -20도 회전 */
    z-index: 7;
}

#hint_tag4 {
    background-image: url("/IMG/matzip/hint_btn4.png");
    transform: rotate(-10deg); /* 10도 회전 */
    z-index: 6;
}

#hint_tag5 {
    background-image: url("/IMG/matzip/hint_btn5.png");
    transform: rotate(-40deg); /* 40도 회전 */
    z-index: 5;
}

#purchasing_hint_info {
    width: 628.64px;
    height: 456px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#purchasing_hint_info img {
    width: 100%;
    height: 377px;
}

#purchase, #one_more, #back {
    width: 180px;
    height: 60px;
    color: #FF7327;
    background-color: white;
    border-radius: 48px;
    position: absolute;
    bottom: 0;
    left: 167px;
    z-index: 4;
    font-family: "Noto Sans KR", serif;
    font-size: 24px;
    text-align: center;
    border: none;
}

#cancel, #stop {
    width: 180px;
    height: 60px;
    color: #D6D6D6;
    background-color: #6A6A6A;
    border-radius: 48px;
    position: absolute;
    bottom: 0;
    right: 61px;
    z-index: 4;
    font-family: "Noto Sans KR", serif;
    font-size: 24px;
    text-align: center;
    border: none;
}

#hint_result {
    width: 487px;
    height: 252px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

#hint_result img {
    width: 100%;
    height: 150px;
}

#one_more {
    left: 48px;
}

#stop {
    right: 48px;
}

#hint_result_text {
    color: #FF7327;
    text-align: center;
    font-size: 60px;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    z-index: 4;
    position: absolute;
    left: 50%;
    transform: translate(-47%);
    width: 100%;
    top: 15%;
}

#hint_popup {
    width: 290px;
    height: 72px;
    position: absolute;
    bottom: 15%;
    right: 25%;
    z-index: 4;
}

.result_tag {
    background-image: url("/IMG/matzip/opened_tag.png");
    background-position: center;
    background-size: cover;
    width: 253px;
    height: 101px;
    position: absolute;
    right: 5%;
    top: 11%;
    z-index: 4;
}

#result_tag2 {
    top: 24%;
}

#result_tag3 {
    top: 37%;
}

#result_tag4 {
    top: 50%;
}

#result_tag5 {
    top: 63%;
}

.result_text {
    text-align: center;
    font-size: 40px;
    font-family: "Noto Sans KR", serif;
    font-weight: bold;
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#back {
    bottom: 15.5%;
    right: 7%;
    left: auto;
}

.fade_in_ready {
    opacity: 0;
}

.fade_in {
    opacity: 1;
    transition: opacity 2s;
}

.fade_out {
    opacity: 0;
    transition: opacity 1s;
}

#detail_wish_list_btn {
    top: 35%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.navbar {
    padding: 0;
}

#loading_img {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

#point {
    position: absolute;
    top: 80%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

body {
    margin: 0;
}