#map {
    width: 100vw;
    height: 100vh;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    z-index: 1;
    height: 80%;
    margin-left: 4%;
    margin-top: 8vh;
    flex-direction: column;
}

.bg_white {
    background: #fff;
}

#right {
    float: right;
    margin-left: 0;
}

#left {
    float: left;
}

.friend_btn {
    background: none;
    border: none;
}

.friend_btn_img {
    margin-top: 1vh;
    width: 6.2vh;
    height: 6.2vh;
}

.profile_img {
    width: 100%;
    height: 100%;
}

.friend_card {
    box-sizing: border-box;
    float: left;
    aspect-ratio: 1/1;
    height: 8vh;
    border-radius: 60px;
    border: 4px solid #FF7327;
}

#friend_list {
    width: 97%;
    height: 8.4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around
}

.matzip_card {
    position: relative;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 15px;
    height: 100px;
    margin-bottom: 10px;
}

.wish_heart {
    position: absolute;
    border: none;
    background: no-repeat;
    aspect-ratio: 1.23 / 1;
    width: 6.7%;
    background-size: cover;
    float: right;
    bottom: 15%;
    right: 5%;
}

.matzip_img {
    position: relative;
    display: block;
    float: left;
    aspect-ratio: 1/1;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3%;
    border-radius: 9px;
}

.matzip_name {
    margin-top: 2%;
    margin-left: 4%;
    float: left;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
}

#matzip_wrap {
    overflow-y: auto;
    width: 84.4%;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
}

.matzip_container {
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    border-radius: 20px;
    border-left: 3px solid #E4E4E4;
    border-right: 3px solid #E4E4E4;
    border-top: 3px solid #E4E4E4;
    background-color: white;
    width: 100%;
    height: 89%;
}

.hidden_img {
    width: 100%;
    height: 100%;
}

#add_btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF7327;
    border-radius: 56px;
    width: 75%;
    height: 5vh;
    border: none;
    display: block;
    margin-top: 3%;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    color: white;
}

.infowindow {
    padding: 5px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}

