.star-rating {
    display: flex;
}

.star { padding: 1px; }

.star::after {
    background-image: url("../resources/static/IMG/star-gray.svg");
    width: 20px;
}

.star:hover::after,
.star:has(~ .star:hover)::after,
.star.active::after,
.star:has(~ .star.active)::after {
    background-image: url("../resources/static/IMG/star-yellow.svg");
}

.star:hover ~ .star::after {
    background-image: url("../resources/static/IMG/star-gray.svg");
}