body {
    background-color: #FFB27E;
}


.container {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.friends-sidebar {
    width: 370px;
    height: 400px;
    padding: 20px;
    margin-top: 50px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.friends-sidebar h2 {
    text-align: center;
    margin: 8px;
}

.friends-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    padding: 10px;
    flex: 1;
}

.friend-card {
    background: white;
    border-radius: 8px;
    padding: 10px;
    height:100px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.friend-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.friend-card.selected {
    border: 2px solid #FF7327;
}

.friend-image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

.friend-nickname {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-friend-button {
    width: 100%;
    padding: 12px;
    background-color: #FF7327;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.2s;
}

.add-friend-button:hover {
    background-color: #D25800;
}

.no-friends-message {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin: 20px 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-container {
    position: relative;
    width: 800px;
    height: 800px;
}

#seoul-map {
    width: 102%;
    height: 102%;
}

#seoul-map path {
    fill: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

#seoul-map path:hover {
    opacity: 0.8;
}

#tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    display: none;
    z-index: 1000;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .friends-sidebar {
        width: 100%;
        height: auto;
        max-height: 300px;
    }

    .map-container {
        margin: 0 auto;
    }
}