<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<div class="container">
    <!-- OAuth 로그인 버튼 -->
    <!--    <a><img th:src=""></a>-->
    <!--    <a><img th:src=""></a>-->
    <!--    <a><img th:src=""></a>-->

    <form th:action="@{/member/login}" method="POST">
        <h1>Log into your account</h1>
        <div>
            <div class="text-danger" th:text="${error }">
                <!-- 오류 -->
            </div>
        </div>
        <br>

        <a class="btn" th:href="@{/oauth2/authorization/kakao}">
            [카카오]
        </a>
        <a class="btn" th:href="@{/oauth2/authorization/google}">
            [구글]
        </a>
        <a class="btn" th:href="@{/oauth2/authorization/naver}">
            [네이버]
        </a>

        <hr>

        <div>
            <input type="text" class="form-control" name="username" id="username" value="" placeholder="아이디"
                   th:value="${username}" required>
            <label for="username">Username</label>
        </div>
        <div>
            <input type="password" class="form-control" name="password" id="password" value="" placeholder="비밀번호"
                   required>
            <label for="password">Password</label>
        </div>

        <a>Forgot password?</a>
        <button class="btn" type="submit">로그인</button>

        <p>
            Don't have an account?
            <a class="btn" th:href="@{/member/register}">Sign-up</a>
        </p>
    </form>
</div>
</body>
</html>