<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/CSS/member/myPage.css}" type="text/css"/>
    <script th:inline="javascript">
        console.log(1);
        console.log(/*[[${myPage}]]*/ '');
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin/>
        <link
            href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap"
            rel="stylesheet"/>
    </script>
</head>
<body>


<div class="container">
    <!-- 왼쪽 주황색 프로필 영역 -->
    <div class="profile-section">
        <!-- 프로필 콘텐츠 -->
        <div class="profile-content">
            <!--  설정 버튼-->
            <div class="settings-container">
                <button class="settings-button">
                    <img src="/IMG/settings-icon.svg" alt="설정 아이콘" class="settings-icon">
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item">비밀번호 변경</button>
                    <button class="dropdown-item">회원 탈퇴</button>
                </div>
            </div>
            <!-- 프로필 이미지 영역 -->
            <div class="profile-image-wrapper">
                <img src="/IMG/profile-image.svg" alt="프로필 이미지" class="profile-image">
                <div class="overlay">
                    <img src="/IMG/camera.png" alt="카메라 아이콘" class="camera-icon">
                </div>
            </div>

            <div class="nickname-container">
                <div class="nickname-text" th:text="${myPage.nickname}"></div>
                <!-- 닉네임 변경 팝업 -->
                <button class="edit-button" id="editButton">
                    <img src="/IMG/edit.svg" alt="Edit"/>
                </button>
            </div>

            <div class="nickname-popup" id="nicknamePopup" style="display: none;">
                <input type="text" id="newNickname" maxlength="20" th:placeholder="${myPage.nickname}">
                <div class="message align-message">
                    <img src="/IMG/notice.png" alt="포인트 차감 설명" class="point-notice">
                    <div class="message-text">
                        닉네임 변경시에는 포인트가 5000pt가 차감됩니다.<br>
                        정말 변경하시겠습니까?
                    </div>
                </div>
                <div class="button-group">
                    <button class="confirm-button" id="confirmButton">확인</button>
                    <button class="cancel-button" id="cancelButton">취소</button>
                </div>
                <div class="error-message" id="errorMessage"></div>
            </div>
            <!-- 페이드아웃 배경 -->
            <div class="overlaybackground" id="overlay"></div>


            <!-- 친구 수 & 포인트 버튼 -->
            <div class="info-buttons">
                <div class="info-button">
                    <span class="info-label friends"
                          onclick="location.href='/members/${memberId}/friends'">친구 ></span>
                    <span class="info-value" th:text="${myPage.friendCnt}"></span>
                </div>
                <div class="info-button">
                    <span class="info-label">포인트 ></span>
                    <span class="info-value" th:text="${myPage.point}"></span>
                </div>
            </div>
        </div>
    </div>


    <!-- 오른쪽 콘텐츠 영역 -->
    <div class="content-section">
        <!-- 위시 리스트 -->
        <div class="section">
            <span class="section-header">
            <img class="icon" src="/IMG/heart-filled.svg" alt="heart-icon">
                <h2 class="h2"> 위시 리스트(</h2>
                    <h2 class="h2" th:text="${myPage.wishInfo.count}"></h2>
                <h2 class="h2">곳)</h2>
                <button class="view-all-button" onclick="location.href='/members/wish-list/${memberId}'">전체보기 ></button>
            </span>
            <div class="card-container" id="wish-list-cards">
                <div th:each="wish : ${myPage.wishInfo.preview}" class="card">
                    <img th:src="${wish.matzipImage != '#none' ? wish.matzipImage : '/IMG/defaultStoreImgSMALL.png'}"
                         class="matzipImage" alt="Wish Image">
                    <div class="matzipName" th:text="${wish.matzipName}">가게 이름</div>
                </div>
            </div>
        </div>

        <!-- 나의 맛집 -->
        <div class="section">
            <span class="section-header">
            <img class="icon" src="/IMG/Union.png" alt="spoon-icon">
                <h2 class="h2"> 나의 맛집(</h2>
                <h2 class="h2" th:text="${myPage.matzipInfo.count}"></h2>
                <h2 class="h2">곳)</h2>
                <button class="view-all-button"
                        onclick="location.href='/matzips/mine/${memberId}'">전체보기 ></button>
            </span>
            <div class="card-container" id="my-matzip-cards">
                <div th:each="matzip : ${myPage.matzipInfo.preview}" class="card">
                    <img th:src=
                    "${matzip.matzipImage != '#none' ? matzip.matzipImage : '/IMG/defaultStoreImgSMALL.png'}"
                    class="matzipImage" alt="Matzip Image">
                    <div class="matzipName" th:text="${matzip.matzipName}">가게 이름</div>
                </div>
            </div>
        </div>

        <!-- 나의 리뷰 -->
        <div class="section">
            <span class="section-header">
            <img class="icon" src="/IMG/review-icon.png" alt="review-icon">
                <h2 class="h2"> 나의 리뷰(</h2>
                    <h2 class="h2" th:text="${myPage.reviewInfo.count}"></h2>
                <h2 class="h2">개)</h2>
                <button class="view-all-button"
                        onclick="location.href='/matzip/review/list/${memberId}'">전체보기 ></button>
            </span>
            <div class="review-container" id="review-container">
                <div th:each="review : ${myPage.reviewInfo.preview}" class="review-card">
                    <img th:src="${review.matzipImage != '#none' ? review.matzipImage : '/IMG/defaultStoreImgSMALL.png'}"
                         class="matzipImage reviewImage" alt="Review Image">
                    <div class="review-details">
                        <div class="rating-container">
                            <div class="starRating" th:data-rating="${review.starRating}"></div>
                            <span class="ratingText"></span>
                        </div>
                        <div class="RmatzipName" th:text="${review.matzipName}">가게 이름</div>
                        <div class="reviewContent" th:text="${review.reviewContent}">리뷰 내용</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<script th:src="@{/JS/member/myPage.js}" type="text/javascript"></script>
</body>
</html>



