<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" th:href="@{/CSS/member/myPage.css}" type="text/css"/>
</head>
<body>



<div class="container" id="profile">
    <div class="containerProfile col-4">
        <div class="profile-pic rounded-circle-wrapper">
            <img class="rounded-circle img-fluid" src="프사 경로" alt="..." />
        </div>

        <div class="nickname-container">
            <div class="nickname-text">닉네임 최대 10자12</div>
            <button class="edit-button" onclick="updateNickname()">
                <img src="/IMG/edit.svg" alt="Edit" />
                <!-- 닉네임 변경 폼 -->
<!--                <form th:action="@{/members/{memberId}/nickname}" method="PATCH">-->
<!--                    <input type="text" id="newNickname" name="newNickname" required maxlength="20">-->
<!--                    <button type="submit">확인</button>-->
<!--                    <button type="취소버튼 만드러라">취소</button>-->
                </form>
            </button>
        </div>
        <a class="friends" th:href="@{/members/{memberId}/friends}">친구:
            <div th:text="${myPage.friendCnt}"></div>
        </a>
        <a class="points">포인트:
            <div th:text="${myPage.point}"></div>
        </a>
    </div>



</div>









<!-- 성공/오류 메시지 -->
<div th:if="${successMessage}" style="color: green;" th:text="${successMessage}"></div>
<div th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></div>


<!--    <script th:src="@{/JS/member/myPage.js}" type="text/javascript"></script>-->
</body>
</html>



