<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경 실패 | MatzipwithYou</title>
    <link rel="stylesheet" href="/css/member/resetPassword.css">
</head>
<body>
<div class="main-container">
    <img src="/IMG/logo.png" alt="Matzipwithyou" class="logo">
    <div class="widget-container">
        <h1>비밀번호 변경 실패</h1>
        <div class="banner">
            <p>비밀번호 변경에 실패했습니다.<br>
                다시 시도해주시거나 관리자에게 문의해주세요.</p>
        </div>
        <a href="/member/request-reset" class="btn">다시 시도하기</a>
    </div>
</div>
</body>
</html>