<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>maatzipwithyou</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/home.css}">
</head>
<body>
<th:block th:insert="~{common/header::header}"></th:block>
<!--page1-->
<div class="section" id="page1" >
    <table>
        <tr>
            <td class="title title1">Matzip</td>
        </tr>
        <tr>
            <td class="title">With</td>
        </tr>
        <tr>
            <td class="title">you</td>
        </tr>
    </table>
    <img  id="title-logo" src="/IMG/title-logo.png">


    <a class="btn"
       sec:authorize="isAuthenticated()"

       th:href="@{/matzips/{memberId}(memberId=${#authentication.principal.member.id})}">Start</a>

    <a class="btn"
       sec:authorize="!isAuthenticated()"
       th:href="@{/member/login}">Start</a></div>
<!--page2-->
<div class="section" id="page2"><img id="seoul-map" src="/IMG/seoul-img.png">
    <img id="hint-alert" src="/IMG/hint-alert.png">
<div id="page2-title"> 친구의 숨은 맛집을 찾아보세요.</div></div>
<!--page3-->
<div class="section" id="page3"><img id="hint-img" src="/IMG/hint.png">  <img id="hints" src="/IMG/popp.png"> <div id="page3-title">힌트를 구매해 숨은 맛집을 알아내보세요</div></div>
<!--page4-->
<div class="section" id="page4"><img id="intimicy" src="/IMG/intimicy.png">
<div id="page4-title">숨은 맛집을 찾아 친구와의 친밀도를 </div>
    <div id="page4-title2">높여보세요</div>
</div>
<!--page5-->
<div class="section" id="page5">
        <div class="page5-title-box">
        <div class="page5-title1">PullGuys</div>
        <div class="page5-title2">너와 나만의 비밀맛집</div>
        </div>



    <table id="social-table">

        <td  class="social-icons  socilaTd"><img class="social-icons" src="/IMG/Instagram%20(1).png"></td>
        <td class="social-icons socilaTd"><img class="social-icons" src="/IMG/Youtube%20(3).png"></td>
        <td class="social-icons socilaTd"><img  class="social-icons" src="/IMG/Facebook%20(1).png"></td>
        <td class="social-icons socilaTd"><img class="social-icons" src="/IMG/Twitter%20(1).png"></td>
    </table>

    <div class="dev-info">
        <ul>
            <li class="dev-info dev1 dev">
                (주)MatzipWithYou<br />
                서울시 강남구 테헤란로 14
            </li>
            <li class="dev-info dev2 dev">
                사업자 번호 :  1111-2222-333 <a href="#">사업자 정보 확인</a><br />
                통신판매업 :  서울 구남구-0105
            </li>
            <li class="dev-info dev3 dev">
                전자금융분장처리 TEL : 1111-119
                FAX : 64-010-122<br />
                MAIL : <a href="mailto:matzipwithyou@gmail.com">matzipwithyou@gmail.com</a>
            </li>
        </ul>
    </div>



</div>

<div class="radio-buttons">
    <input type="radio" id="page1-radio" name="page" checked onclick="scrollToPage(0)">
    <label for="page1-radio">1</label>
    <input type="radio" id="page2-radio" name="page" onclick="scrollToPage(1)">
    <label for="page2-radio">2</label>
    <input type="radio" id="page3-radio" name="page" onclick="scrollToPage(2)">
    <label for="page3-radio">3</label>
    <input type="radio" id="page4-radio" name="page" onclick="scrollToPage(3)">
    <label for="page4-radio">4</label>
    <input type="radio" id="page5-radio" name="page" onclick="scrollToPage(4)">
    <label for="page5-radio">5</label>
</div>

<script th:src="@{/JS/home.js}"></script>
</body>
</html>
