<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/header.css}">
</head>
<body>
<th:block th:insert="~{common/header::header}"></th:block>
<div class="container">
    <h1>HOME</h1>

    <a class="btn" th:href="@{/matzips/{memberId}(memberId=${#authentication.principal.member.id})}">Start</a>
</div>
</body>
</html>