:root {
    --primary-color: #ff7327;
    --button-font-color: #ffffff;
    --secondary-button-border-color: #c8c9cc;
    --secondary-button-text-color: #303236;
    --link-color: #ff7327;
    --title-font-color: #ff7327;
    --font-default-color: #63656d;
    --widget-background-color: #ffffff;
    --box-border-color: #ffffff;
    --input-text-color: #121214;
    --input-border-color: #c8c9cc;
    --input-background-color: #ffffff;
    --error-color: #e81d01;
}




/* 기본 스타일 */
body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #F5F5F5;
}


.h2{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 2.3vh;
}
.h3{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

.icon {
    width: 3vh;
    /*height: 20px;*/
    margin-right: 5px;
}

/*  주황색 컨테이너 레이아웃 */
.mpcontainer {
    display: flex;
    min-height: 100vh;
}

/* 오른쪽 콘텐츠 영역 */
.content-section {
    background-color: #F5F5F5;
    /*width: 1440px;*/
    width: 66.66%;
    padding: 40px;
    gap: 30px; /* 섹션 간 간격 */
}

/* 공통 섹션 스타일 */
.section {
    margin-bottom: 30px;
}

.section-header {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 3vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.h2{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

.view-all-button {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    font-size: 1.7vh;
    background: none;
    border: none;
    color: #6a6a6a;
    cursor: pointer;
    justify-self: end;
    transform: translateX(2vh);
}

/* 카드 컨테이너 */
.card-container {
    display: flex;
    flex-wrap: nowrap;
    /*grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));*/
    gap: 15px;
    height: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(18%); /* 카드 너비를 3등분 */
    /*flex-wrap: nowrap;*/
    /*flex: 0 0 auto; !* 카드의 크기가 변하지 않도록 고정 *!*/
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    /*cursor: pointer;*/
}
.card-info{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    font-size: 2vh;
}


/*.heart-button {*/
/*    background-image: url('/IMG/heart-empty.png');*/
/*    background-size: cover;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.heart-button.active {*/
/*    background-image: url('/IMG/heart-filled.svg');*/
/*}*/

/* 하트 아이콘 토글 */
/*.card .heart-icon {*/
/*    cursor: pointer;*/
/*    transition: color 0.3s ease;*/
/*}*/

/*.card .heart-icon.clicked {*/
/*    color: #FF9F66; !* 주황색 하트 *!*/
/*}*/











/* 왼쪽 프로필 주황색 배경 */
.profile-section {
    background-color: #FFA375;
    /*width: 480px;*/
    width: 33.33%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profile-content {
    position: absolute;
    top : 80px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
    /*margin-top: 140px; !* 상단에서 140px 여백 추가 *!*/
    /*gap: 20px; !* 각 컨텐츠 간격 *!*/
    /*margin: 20px;*/
}
/* 프로필 이미지 및 오버레이 */
.profile-image-wrapper {

    display: inline-block;
    justify-content: center;
    position: relative;
    margin: 10px 0; /* 위아래 여백 */
    width: 28.5vh;
    height: 28.5vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
}

.profile-image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; /* 커서 변경 */
    background-color: rgba(0, 0, 0, 0.5); /* 페이드아웃 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.camera-icon {
    height: 40px;
    cursor : pointer;
}

.profile-image-wrapper:hover .overlay {
    opacity: 1; /* 호버 시 표시 */
}
.settings-button {
    margin: 10px 0;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #FF7A29;
    border: none;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    margin-bottom: -20px;
    transform: translateX(25%) translateY(-25%)
}

.settings-icon {
    width: 5vh;
    height: 5vh;
}

/* 설정버튼 */

.settings-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu {
    position: absolute;
    top: 65px;
    right: 0; /* 오른쪽 정렬 */
    left: auto; /* 왼쪽 자동 정렬 제거 */
    background-color: white;
    border-radius: 8px;
    padding: 8px 0;
    min-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 1001;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    font-size: 2vh;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}




/* edit */
.edit {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 385px;
    top: 422px;
}

/* 버튼 스타일 */
.edit-button {
    background-color: #ff7a35; /* 주황색 배경 */
    border: none; /* 테두리 제거 */
    border-radius: 50%; /* 완전한 원형 */
    width: 6vh; /* 버튼 크기 */
    height: 6vh; /* 버튼 크기 */
    display: flex;
    align-items: center; /* 이미지 중앙 정렬 */
    justify-content: center; /* 이미지 중앙 정렬 */
    cursor: pointer; /* 커서 변경 */
    position: absolute; /* 우측에 겹쳐진 원형 스타일 */
    right: 0px; /* 컨테이너 오른쪽 끝에 맞춤 */
}

/* 버튼 안의 이미지 스타일 */
.edit-button img {
    width: 6vh; /* 아이콘 크기 */
    height: 6vh; /* 아이콘 크기 */
}



/* 컨테이너 스타일 */
.nickname-container {
    display: flex; /* 아이템 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    justify-content: center; /* 좌우 여백 자동 조절 */
    background-color: #fff; /* 배경색 흰색 */
    border-radius: 5vh; /* 둥근 모서리 */
    padding: 1vh 1.8vh; /* 내부 여백 */
    width: 25vh;; /* 전체 박스의 너비 */
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); !* 가벼운 그림자 효과 *!*/
    position: relative;
    margin: 10px 0; /* 위아래 여백 */
}

/* 닉네임 텍스트 스타일 */
.nickname-text {
    font-family: RecipeKoreaOTF;
    font-size: 2.8vh; /* 글자 크기 */
    font-weight: normal; /* 글자 굵기 */
    color: #000; /* 글자색 검정 */
    flex-grow: 1; /* 텍스트 영역 확장 */
    white-space: nowrap; /* 텍스트 한 줄 유지 */
    overflow: hidden; /* 길면 숨김 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 경우 말줄임표 */
    padding-right: 5px;
    padding-top: 5px;
    text-align: center
}


/* 페이드아웃 배경 */
.overlaybackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 어두운 배경 */
    z-index: 2000;
    display: none; /* 초기에는 보이지 않음 */
}

/* 팝업 스타일 */
.nickname-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2001; /* 배경 위에 표시 */
    width: 400px;
    text-align: center;
    padding: 20px;
    display: none; /* 초기에는 보이지 않음 */
}

.nickname-popup h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.nickname-popup input {
    font-family: Inter;
    text-align: center;

    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #D9D9D9;
    /*color: black;*/
    font-size: 1rem;
}
.nickname-popup .message{
    font-size: 0.8rem;
    font-family: Inter;
    color: black;
}
.nickname-popup .error-message {
    color: #ff7327;
    font-family: Inter;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 정렬을 위한 스타일 */
.align-message {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    margin-top: 10px;
    margin-left: 30px;
}

/* 아이콘 크기 조정 */
.point-notice {
    width: 30px; /* 적절한 아이콘 크기 설정 */
    height: 30px; /* 동일한 높이로 설정 */
    margin-right: 10px; /* 텍스트와의 간격 조정 */
    right: 20px;
}

/* 텍스트 컨테이너 */
.message-text {
    line-height: 1.4; /* 줄 간격 조정 */
    font-size: 0.8rem;
    font-family: Inter, sans-serif;
}
.nickname-popup .button-group {
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
}

.nickname-popup button {
    padding: 8px 15px;
    width: 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Inter;
    font-size: 0.8rem;
}

.nickname-popup .confirm-button {
    background-color: #FF7A29;
    color: white;
}

.nickname-popup .cancel-button {
    background-color: #6a6a6a;
    color: white;
}

.nickname-popup button:hover {
    opacity: 0.8;
}

/* 버튼 그룹 정렬 */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


/* 친구 수 & 포인트 버튼 영역 */
.info-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px; /* 위쪽 여백 */

}

.friends{
    cursor: pointer; /* 커서 변경 */
}

/* 친구, 포인트 주황 박스 */
.info-button {
    background-color: #FF7A29;
    color: white;
    border-radius: 15px;
    padding: 1.5vh 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin: 10px; !* 버튼 자체의 외부 여백 *!*/
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);*/
}

/* 친구, 포인트 타이틀 */
.info-label {
    font-family: RecipeKoreaOTF;
    font-size: 2.1vh;
    font-weight: normal;
    padding-top : 5px;
    padding-bottom : 5px;
}

/* DB 값 */
.info-value {
    /*transform: translateY(5px);*/
    font-family: RecipeKoreaOTF;
    font-size: 1.9vh;
    font-weight: bold;
    color: #333;
    background-color: white;
    border-radius: 15px;
    padding: 2vh 4vh;
    /*margin-top: 10px;*/
}


.matzipImage {
    width: 17vh;
    height: 17vh;
    border-radius: 10px;
    /*margin: 0 auto 10px auto; !* 위-0, 아래-10px, 좌우-자동 *!*/
    object-fit: cover;
    /*display: block;*/
}

.matzipName{
    font-family: "Noto Sans KR", sans-serif !important;
    font-weight: 500;
    font-size: 1.7vh;
    margin: 15px auto 10px auto;
}



/* 리뷰 */
.review-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    height: 100%;
}
.review-card {
    display: flex;
    flex: 0 0 calc(33.33% - 43px); /* 카드 너비를 3등분 */
    height: calc(16.67% - 20px);
    flex-wrap: nowrap;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}

.reviewImage {
    width: 11.4vh;
    height: 11.4vh;
    border-radius: 1vh;
    object-fit: cover;
    margin-right:  1.5vh;
}

.review-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px; /* 별점과 평점 텍스트 간격 */
    flex: 1;
}
.RmatzipName{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 1.7vh;
}

.reviewContent{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: normal;
    font-size: 1.4vh;
}

.rating-container {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-bottom: 3px;
    gap: 5px; /* 별점과 평점 텍스트 간격 */
}
.starRating {
    display: flex;
    transform: translateY(-5px);
    /*position: relative; !* 또는 absolute, fixed *!*/
    /*top: -5px;*/
}

.ratingText {
    font-size: 1.4vh;
    color: #6a6a6a; /* 텍스트 색상 */
    transform: translateY(-5px);
    /*position: relative; !* 또는 absolute, fixed *!*/
    /*top: -5px;*/
}


@media screen and (min-width: 2560px) {
    /* 프로필 섹션 */
    .profile-content {
        top: 107px;  /* 80px * 1.33 */
    }

    .profile-image-wrapper {
        width: 266px;  /* 200px * 1.33 */
        height: 266px;
    }

    .camera-icon {
        height: 53px;  /* 40px * 1.33 */
    }

    .settings-button {
        top: 13px;
        width: 47px;
        height: 47px;
    }

    .settings-icon {
        width: 47px;
        height: 47px;
    }

    .dropdown-menu {
        top: 87px;
        min-width: 266px;
    }

    .dropdown-item {
        padding: 16px 21px;  /* 12px 16px * 1.33 */
        font-size: 19px;  /* 14px * 1.33 */
    }

    /* 닉네임 */
    .nickname-container {
        padding: 13px 27px;  /* 10px 20px * 1.33 */
        width: 266px;  /* 200px * 1.33 */
    }

    .nickname-text {
        font-size: 27px;  /* 20px * 1.33 */
        padding-right: 7px;  /* 5px * 1.33 */
        padding-top: 7px;
    }

    /* 팝업 */
    .nickname-popup {
        width: 532px;  /* 400px * 1.33 */
        padding: 27px;  /* 20px * 1.33 */
    }

    /* 카드 섹션 */
    .matzipImage {
        width: 160px;  /* 120px * 1.33 */
        height: 160px;
    }

    .reviewImage {
        width: 106px;  /* 80px * 1.33 */
        height: 106px;
    }

    /* 폰트 사이즈 */
    .h2 {
        font-size: 21px;  /* 16px * 1.33 */
    }

    .h3 {
        font-size: 20px;  /* 15px * 1.33 */
    }

    .matzipName, .RmatzipName {
        font-size: 16px;  /* 12px * 1.33 */
    }

    .reviewContent {
        font-size: 13px;  /* 10px * 1.33 */
    }

    .section-header {
        font-size: 27px;  /* 20px * 1.33 */
    }

    .view-all-button {
        font-size: 16px;  /* 12px * 1.33 */
    }

    /* 간격 */
    .content-section {
        padding: 53px;  /* 40px * 1.33 */
        gap: 40px;  /* 30px * 1.33 */
    }

    .section {
        margin-bottom: 40px;  /* 30px * 1.33 */
    }

    .card-container {
        gap: 20px;  /* 15px * 1.33 */
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .profile-section {
        width: 100%;
        min-height: 500px;  /* 프로필 섹션의 최소 높이 설정 */
        background-color: #FFA375;  /* 배경색 유지 */
    }

    .content-section {
        width: 100%;
        padding: 20px;  /* 모바일에서의 패딩 조정 */
    }

    /* 카드 컨테이너 스크롤 처리 */
    .card-container, .review-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .review-container {
        grid-template-columns: repeat(3, 1fr);
    }
}




/* 회원 탈퇴 팝업 스타일 */
.delete-account-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 2001;
    width: 400px;
    text-align: center;
    padding: 20px;
    display: none;
}

.delete-account-popup .message {
    margin: 20px 0;
}

/* 메시지 정렬을 위한 컨테이너 */
.delete-account-popup .align-message {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 10px;
    margin-left: 30px;
}

/* 경고 아이콘 스타일 */
.delete-account-popup .point-notice {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    right: 20px;
}

/* 메시지 텍스트 스타일 */
.delete-account-popup .message-text {
    line-height: 1.4;
    font-size: 0.8rem;
    font-family: Inter, sans-serif;
}

/* 버튼 그룹 스타일 */
.delete-account-popup .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* 버튼 공통 스타일 */
.delete-account-popup button {
    padding: 8px 15px;
    width: 100px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Inter;
    font-size: 0.8rem;
}

/* 확인 버튼 스타일 */
.delete-account-popup .confirm-button {
    background-color: #FF7A29;
    color: white;
}

/* 취소 버튼 스타일 */
.delete-account-popup .cancel-button {
    background-color: #6a6a6a;
    color: white;
}

/* 버튼 호버 효과 */
.delete-account-popup button:hover {
    opacity: 0.8;
}

/* 2560px 이상의 화면에서의 반응형 스타일 */
@media screen and (min-width: 2560px) {
    .delete-account-popup {
        width: 532px;
        padding: 27px;
    }

    .delete-account-popup .point-notice {
        width: 40px;
        height: 40px;
    }

    .delete-account-popup .message-text {
        font-size: 1.1rem;
    }

    .delete-account-popup button {
        padding: 11px 20px;
        width: 133px;
        font-size: 1.1rem;
    }
}

/* 모바일 화면에서의 반응형 스타일 */
@media (max-width: 768px) {
    .delete-account-popup {
        width: 90%;
        max-width: 400px;
        padding: 15px;
    }

    .delete-account-popup .message-text {
        font-size: 0.75rem;
    }

    .delete-account-popup button {
        padding: 6px 12px;
        width: 80px;
        font-size: 0.75rem;
    }

    .settings-container {
        padding-right: 20px;
    }

    .dropdown-menu {
        right: 20px;
    }
}



/* ================  내비 바~! =============== */


.navbar {
background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar div {
    z-index: 3;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-brand img {
    margin-top: 0.5rem;
    margin-left: 3rem;
    height: 40px;
    width: auto;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-buttons a {
    text-decoration: none;
    color: var(--secondary-button-text-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.nav-buttons a:first-child {
    border: 1px solid #FFFFFF;
}

.nav-buttons a:last-child {
    background-color: var(--primary-color);
    color: var(--button-font-color);
}

.nav-buttons a:hover {
    transform: translateY(-1px);
}

.nav-user {
    position: relative;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;

}

.dropbtn {
    background: none;
    border: none;
    color: var(--button-font-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 2.3vh;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    margin-top: 0.5rem;
}

.dropdown-content a,
.dropdown-content button {
    color: var(--font-default-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font-size: 2.28vh;
    cursor: pointer;
/ transition: background-color 0.2 s;
/
}

.dropdown-content a:hover,
.dropdown-content button:hover {
    background-color: rgba(255, 115, 39, 0.1);
    color: var(--primary-color);
}

.show {
    display: block;
}

#userDropdown {
    overflow: hidden;
}


@media (max-width: 768px) {
    .navbar .container {
        padding: 0 1rem;
    }

    .nav-buttons {
        gap: 0.5rem;
    }

    .nav-buttons a {
        padding: 0.5rem 0.75rem;
        font-size: 2vh;
    }

    .dropbtn {
        font-size: 2vh;
    }
}